<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>index</title>
    <style>
        * {
            /* border: 1px solid white; */
            font-size: 48px;
        }
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        select:-webkit-autofill {
            background-color: transparent!important;
            background-image: none !important;
            -webkit-box-shadow: 0 0 0 1000px black inset !important;
            -webkit-text-fill-color: #fff;
        }
    </style>
</head>
<body class="bg-black text-white flex justify-center items-center">
    <form action="chat" class="form-control flex flex-col">
        <label for="name">What's your nickname?</label>
        <input type="text" id="name" class="input-style" name="username">
        <label for="room">Create or enter a room.</label>
        <input type="text" id="room" class="input-style" name="room">
        <button type="submit"></button>
    </form>
    <script src="javascripts/index.js"></script>
</body>
</html>